/*Author vyclu20*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 5px solid rgb(105, 86, 64);
  border-radius: 10px;
}

#closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
}

